.login{
  .el-input--small{
    .el-input__inner{
      height: 50px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
    }
  }
  .el-input__suffix{
    line-height: 50px;
  }
}



.el-button:focus, .el-button:hover {
  color: $--btn--success;
  border-color: $--btn--success;
  background-color: $--btn--success-active;
}


.el-input.is-active .el-input__inner, .el-input__inner:focus {
  border-color: $--btn--success;
  outline: 0;
}
