html, body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

button:hover{
  cursor: pointer;
}

.btn-warning:not(.is-circle) {
  padding: 0 15px;
  height: 30px;
  line-height: 29px;
  border:1px solid $--btn--warning;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  background-color: $--btn--warning;
}

.btn-success:not(.is-circle) {
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  background-color: $--btn--success;
}

.btn-success.is-circle {
  color: #fff;
  background-color: $--btn--success;
}

.btn-success-space {
  padding: 0 15px;
  height: 30px;
  line-height: 29px;
  border-radius: 4px;
  box-sizing: border-box;
  color: $--btn--success;
  border:1px solid $--btn--success;
  background-color: #fff;
}

.btn-danger-space {
  padding: 0 15px;
  height: 30px;
  line-height: 29px;
  border: 1px solid $--btn--danger;
  border-radius: 4px;
  box-sizing: border-box;
  color: $--btn--danger;
  background-color: #fff;
}


.btn-success-space:focus, .btn-success-space:hover {
  border-color: $--btn--success;
  background-color: #FFF;
  color: $--btn--success;
}
