$--btn--warning: #FFA000;
$--btn--success: #0B9D78;
$--btn--danger: #E51C23;
$--btn--success-active:#9ddccc;


$--title-pricker--success: #0B9D78;
$--title-pricker--danger: #E51C23;
$--title-pricker--warning: #FFA000;

$--checkbox--success: #0B9D78;
$--checkbox--danger: #E51C23;
$--checkbox--warning: #FFA000;
